################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElevatorControl/bin/Debug/net7.0
/ElevatorControl/obj
/.vs
